In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("log2.csv")

data.head()

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received,Action
0,57222,53,54587,53,177,94,83,2,30,1,1,allow
1,56258,3389,56258,3389,4768,1600,3168,19,17,10,9,allow
2,6881,50321,43265,50321,238,118,120,2,1199,1,1,allow
3,50553,3389,50553,3389,3327,1438,1889,15,17,8,7,allow
4,50002,443,45848,443,25358,6778,18580,31,16,13,18,allow

In [3]:
# Check for missing values
missing_values = data.isnull().sum()
missing_values

Source Port             0
Destination Port        0
NAT Source Port         0
NAT Destination Port    0
Bytes                   0
Bytes Sent              0
Bytes Received          0
Packets                 0
Elapsed Time (sec)      0
pkts_sent               0
pkts_received           0
Action                  0
dtype: int64

In [4]:
# check for duplicates values
duplicates = data[data.duplicated(keep=False)]  # Finds all duplicates, not just the first occurrence
print(duplicates)

       Source Port  Destination Port  NAT Source Port  NAT Destination Port  \
141          51048               445                0                     0
147          55724               445                0                     0
148          51125               445                0                     0
151          51121               445                0                     0
154          51120               445                0                     0
...            ...               ...              ...                   ...
65517        54874               445                0                     0
65519        49784               445                0                     0
65521        42995             26467                0                     0
65522        53314             64097                0                     0
65531        54867               445                0                     0

       Bytes  Bytes Sent  Bytes Received  Packets  Elapsed Time (sec)  \
141       70          70               0        1                   0
147       70          70               0        1                   0
148       66          66               0        1                   0
151       66          66               0        1                   0
154       66          66               0        1                   0
...      ...         ...             ...      ...                 ...
65517     70          70               0        1                   0
65519     70          70               0        1                   0
65521     62          62               0        1                   0
65522     66          66               0        1                   0
65531     70          70               0        1                   0

       pkts_sent  pkts_received Action
141            1              0   drop
147            1              0   drop
148            1              0   drop
151            1              0   drop
154            1              0   drop
...          ...            ...    ...
65517          1              0   drop
65519          1              0   drop
65521          1              0   deny
65522          1              0   deny
65531          1              0   drop

[13281 rows x 12 columns]

In [5]:
# Drop the duplicate rows from the original dataset
data.drop_duplicates(inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57170 entries, 0 to 65530
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Source Port           57170 non-null  int64
 1   Destination Port      57170 non-null  int64
 2   NAT Source Port       57170 non-null  int64
 3   NAT Destination Port  57170 non-null  int64
 4   Bytes                 57170 non-null  int64
 5   Bytes Sent            57170 non-null  int64
 6   Bytes Received        57170 non-null  int64
 7   Packets               57170 non-null  int64
 8   Elapsed Time (sec)    57170 non-null  int64
 9   pkts_sent             57170 non-null  int64
 10  pkts_received         57170 non-null  int64
 11  Action                57170 non-null  object
dtypes: int64(11), object(1)
memory usage: 5.7+ MB